{% extends 'base.html.twig' %}

{% block title %}Lista de Categorías{% endblock %}

{% block body %}
<div class="container">
    <h1>Categorías</h1>
    <a href="{{ path('category_new') }}">Agregar</a>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Código</th>
            <th scope="col">Estado</th>
            <th scope="col">acción</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
            <th scope="row">{{category.name}}</th>
            <td>{{category.description}}</td>
            <td>{{category.code}}</td>
            <td>
                {% if category.active %}
                    Activo
                {% else %}
                    Inactivo
                {% endif %}
            </td>
            <td>
                <a href="{{ path('category_edit',{id:category.id}) }}">Editar</a>
                <a href="{{ path('category_remove',{id:category.id}) }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
